body{
	background-color: #4055F0;
	width: 100%;
}
nav ul li {
	display: inline-block;
	padding-right: 60px;
	padding-top: 10px;
}
 a{
	text-decoration: none;
}
nav{
	margin-left: 100px;º
	margin-right: 100px;
	background-image:url(cuadros.png);
	height: 40px;
	margin-bottom: 10px;
} 

header{
	background-color: #B5CFFB;
	height: 200px;
	margin-left: 100px;
	margin-right: 100px;
	padding: 20px;
}

header p{
	
	width: 400px;
}
#plans{
	float: right;

}

#main{
	background-color: white;
	margin-left: 100px;
	margin-right: 100px;
	padding: 20px;

}
#content{
	float: right;
	width: 770px;
}
#sidebar ul {
	list-style: none;
	color: black;
}

footer aside{
	display: inline-block;
	padding-right: 91px;
}
footer{
	margin-left: 100px;
	margin-right: 100px;
	background-color: #B5CFFB;
}
